<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.zlei.secretimage"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:icon="@drawable/ic_launcher">
        <meta-data
            android:name="com.sessionm.appid"
            android:value="aba6ba56b63680cad063e987df52a71e620dbc77"/>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ImageActivity"/>
    </application>

</manifest>